#about {
  margin-top: 50px;

  .section__title {
    font-size: $font-size__title--large;

    strong {
      color: $color-text__yellow;
      font-weight: $weight-Light;
    }
  }
}

.about {
  margin-top: 110px;
}