#about {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 80px;
  }

  margin-top: 50px;
}

.about {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 40px;
  }

  margin-top: 110px;
}
