// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#advantage {
  .row {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.advantage {
  &__number {
    @include breakpoint($breakpoint-tablet) {
      font-size: 48px;
    }

    color: $color-text__yellow;

    font-weight: $weight-Regular;
    font-size: $font-size__title--medium;
  }

  &__text {
    @include breakpoint($breakpoint-laptop) {
      br {
        display: none;
      }
    }
  }
}
