#feature {
}

.feature {
  &__background {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 530px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 420px;
    }

    height: 600px;
    margin-bottom: 90px;

    background-color: #f3f3f3;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition ease;
  }

  &__item {
    text-align: center;
  }

  &__number {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 96px;
    }

    font-weight: $weight-Light;
    font-size: 128px;

    line-height: $line-height--secondary;
  }
}
