#goal {
  margin-top: 80px;

  .section__header {
    margin-bottom: 0;
  }
}

.goal {
  @include breakpoint($breakpoint-laptop--medium) {
    margin-top: 40px;
  }

  margin-top: 60px;

  p {
    @include breakpoint($breakpoint-mobile--large) {
      br {
        display: none;
      }
    }
  }
}
