#hero {
  @include breakpoint($breakpoint-tablet) {
    height: calc(75vh - var(--header-height));
  }

  position: relative;
}

.hero {
  &__picture {
    @include breakpoint($breakpoint-tablet) {
      height: calc(75vh - var(--header-height));
    }

    width: 100%;
    height: calc(82vh - var(--header-height));
  }
}
