.link {
  position: relative;
  transition: $transition ease;

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    display: block;
    width: 0%;
    height: 1px;

    background-color: #c79b59;

    transition: $transition ease;
  }

  &--color {
    color: #c79b59;
  }

  &--underline {
    @media (hover: hover) {
      &:hover::after {
        background-color: #c79b59;
      }
    }

    &::after {
      width: 100%;
      background-color: $color-text__black;
    }
  }
}
