.input {
  position: relative;

  &--error {
    .input__field {
      border-color: #f35c5c;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    @include breakpoint($breakpoint-tablet) {
      padding: 10px 15px;
    }

    width: 100%;

    padding: 25px 30px;

    border: none;
    border-bottom: 1px solid #000000;
    outline: none;

    font-family: NunitoSans, sans-serif;

    transition: $transition ease;
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 30px;

    width: 21px;
    height: 21px;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-50%);
    transition: $transition ease;
  }
}
