// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  padding: 50px 0;
  background-color: $palette-white--darker;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__social {

  }
}