// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

.header {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 45px 0;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding: 25px 0;
  }

  position: sticky;
  z-index: $z-index-header;
  top: 0;

  padding: 55px 0;

  background-color: $palette-white;
  transition: $transition ease;

  &--contrast {
    background-color: #f2f2f2;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    flex-grow: 1;
  }
}
