// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

.header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;

  &--contrast .header__wrapper {
    background-color: #f2f2f2 !important;
  }

  .container {
    position: relative;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: $transition ease;
  }

  &__wrapper {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 45px 0;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding: 25px 0;
    }

    position: relative;
    z-index: 3;

    padding: 55px 0;

    background-color: $palette-white;
  }

  &__nav {
    flex-grow: 1;
  }
}
