// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--header {
    .nav__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav__item:not(.nav__item--logo) {
      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }

    .nav__link {
      @include breakpoint(max-width 1800px) {
        font-size: $font-size__text--big;
      }

      font-size: $font-size__title--small;
      text-transform: uppercase;
    }
  }

  &--mobile {
    .nav__item {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .nav__link {
      font-size: $font-size__text--big + 2px;
      text-transform: uppercase;
    }
  }
}
