#post {
  padding-top: 100px;
  padding-bottom: 50px;
}

.post {
  &__header {
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  &__title {
    font-size: $font-size__title--medium;
  }

  &__price {
    font-size: $font-size__title--small;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 556px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 360px;
    }

    height: 666px;
  }

  &__list {
    & > div {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      img {
        margin-right: 16px;
      }
    }
  }

  &__action {
    margin-top: 56px;
  }
}
