#callback {
  .section__header {
    margin-bottom: 40px;
  }

  .section__title {
    @include breakpoint($breakpoint-laptop) {
      br {
        display: none;
      }
    }

    font-size: $font-size__title--small;
  }
}

.callback {
  &__content {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__form {
    flex-grow: 1;
  }
}
