#gallery {
  @include breakpoint($breakpoint-tablet) {
    padding: 0 15px;
  }

  overflow: hidden;
}

.gallery {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 320px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 260px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 210px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 160px;
    }

    height: 460px;
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
