#hero {
  position: relative;
  height: calc(100vh - 160px);

  background-image: url("../img/layout/page/index/hero/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.hero {
  &__action {
    position: absolute;
    bottom: 10%;
    left: 50%;

    transform: translateX(-50%);
  }
}
