.catalog-card {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 180px;
    }

    height: 225px;
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding: 20px;

    border: 2px solid #d9d9d9;
    border-top: none;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 5px;

    font-size: 24px;
    line-height: 1;
  }

  &__price {
    font-size: 20px;
  }

  &__list {
    margin-top: auto;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    & > div {
      display: flex;
      align-items: center;

      font-size: $font-size__text--regular + 2px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      img {
        @include breakpoint($breakpoint-laptop) {
          width: 24px;
          margin-right: 12px;
        }

        margin-right: 16px;
      }
    }
  }
}
