.social {
  display: flex;
  align-items: center;

  &__link {
    @include breakpoint($breakpoint-tablet) {
      width: 52px;
    }

    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}
