.service-item {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 20px;
    }

    margin-bottom: 24px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 24px;
    }

    font-size: 40px;
    line-height: 1;
  }

  &__price {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 20px;
    }

    font-size: 32px;
  }
}
