.service-item {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 12px;
    }

    margin-bottom: 24px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 24px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 21px;
    }

    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.25;
  }

  &__price {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 20px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: 0;
      font-size: 16px;
    }

    margin-top: -5px;
    font-size: 28px;
  }
}
