#service {
  overflow: hidden;

  .section__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 25px;
    }

    overflow: hidden;
    margin-bottom: 40px;
  }

  .section__title {
    white-space: nowrap;
  }

  .swiper-control {
    top: 40%;
  }
}

.service {
  &__text {
    margin-bottom: 60px;
  }

  &__slider {
    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    width: 90%;
    margin: 0 auto;
  }
}
