#service {
  .section__header {
    overflow: hidden;
    margin-bottom: 40px;
  }

  .section__title {
    white-space: nowrap;
  }

  .swiper-control {
    top: 40%;
  }
}

.service {
  &__slider {
  }
}