// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-white--dark: #f9f9f9;
$palette-white--darker: #f3f3f3;

// Цветовая палитра текста
$color-text__primary: #000000;
$color-text__yellow: #c79b59;
$color-text__white: #ffffff;
$color-text__black: #212121;
