.logo {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &--header {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 300px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 240px;
    }

    width: 360px;
  }
}
