.logo {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &--header {
    @include breakpoint(max-width 1800px) {
      width: 210px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 170px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 150px;
    }

    width: 300px;
  }
}
