.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 120px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 90px;
    }

    margin-top: 150px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 75px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--medium - 10px;
    }

    font-size: $font-size__title--large;

    strong {
      color: $color-text__yellow;
      font-weight: $weight-Light;
    }

    &--small {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 50px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 36px;
      }

      font-size: $font-size__title--medium;
    }
  }
}
