.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 120px;
    }

    margin-top: 150px;
  }

  &__title {
    font-weight: $weight-Light;
    font-family: FuturaPT, sans-serif;

    text-transform: uppercase;
  }
}
