.button {
  padding: 20px 65px;

  border: 1px solid #c79b59;
  border-radius: 0;
  outline: none;

  background-color: transparent;

  font-size: 27px;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
