.button {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 14px 50px;
    font-size: $font-size__text--large;
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 14px 65px;
    font-size: $font-size__text--big - 2px;
  }

  display: inline-flex;
  justify-content: center;

  padding: 20px 65px;

  border: 1px solid #fffcf6;
  border-radius: 0;
  outline: none;

  background-color: transparent;

  font-size: 27px;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &--block {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  &--header {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big - 2px;
    }
  }

  &:disabled {
    background-color: #f6f6f6;
    color: #dfdddd;

    pointer-events: none;
  }
}
