.button {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--large;
  }

  display: inline-flex;
  justify-content: center;

  padding: 20px 65px;

  border: 1px solid #c79b59;
  border-radius: 0;
  outline: none;

  background-color: transparent;

  font-size: 27px;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &--block {
    width: 100%;
  }

  &:disabled {
    background-color: #f6f6f6;
    color: #dfdddd;

    pointer-events: none;
  }
}
